@import "../__basics/vars.scss";

.block {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 0.8rem 0;
  border-bottom: 1px solid $gray02;

  &:first-child {
    padding: 0;
    padding-bottom: 0.8rem;
  }

  .sn {
    padding-right: 1.2rem;
  }

  .title {
    display: inline-block;
    margin-bottom: 0.4rem;
  }

  .sn, .title {
    font-size: 1.2em;
    font-weight: 500;
    color: $textColor01;
  }

  .title, .category, .tag {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .meta, .tag, .desc {
    color: $textColor02;
    font-size: 1em;
  }

  .meta {
    margin-top: 0.6rem;
  }

  .category {
    font-weight: 700;

    &.bits {
      color: $bitsColor;
    }
    
    &.bytes {
      color: $bytesColor;
    }
    
    &.books {
      color: $booksColor;
    }
  }
}

.block-detail {
  .section {
    margin: 0.8rem 0 1.2rem 0;
    width: 100%;
  }
}

