@import "../__basics/vars.scss";

.container {
  max-width: 1198px;
  margin: 0.8rem auto;

  @media (max-width: 780px) {
    margin-top: 0;
  }
}

main {
  padding: 2rem 1.2rem;
  background-color: $gray01;
}