$primaryColor: #ffffff;
$secondaryColor: #181920;

$gray01: #F6F8FA;
$gray02: #DBE2EA;

$metaText: #50585C;

$textColor01: #000000;
$textColor02: #898E94;

$bitsColor: #12448e;
$bytesColor: #188430;
$booksColor: #ce691b;