$primaryColor: #ffffff;
$secondaryColor: #181920;

$gray01: #F6F8FA;
$gray02: #DBE2EA;

$metaText: #50585C;

$textColor01: #000000;
$textColor02: #898E94;

$bitsColor: #12448e;
$bytesColor: #188430;
$booksColor: #ce691b;
$tagColor: linear-gradient(90deg, rgba(18,68,142,1) 0%, rgba(24,132,48,1) 50%, rgba(206,105,27,1) 100%);